table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.add {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.example-form-field {
  width: auto;
  max-width: 100%;
  display: flex;
}

.example-form-field .mat-form-field-infix {
  width: auto !important;
}
.first {
  display: flex;
  align-items: baseline;
}
